//@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin,latin-ext);

body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 { font-size: 2em; }
section { padding: 2em 0 5em; }

header#starting-page {
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("../images/pexels-photo.jpg");
    background-attachment: fixed;
    background-position: top center;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 { font-size: 5em; }

        p {
            line-height: 35px;
            font-size: 1.7em;
        }

        a {
            text-shadow: none;
            display: inline-block;
            color: white;
            text-decoration: none;
            margin-top: 2.5em;
            font-size: 1.5em;
            padding: 0.3em 1.8em;
            background-color: #F1C40F;
            transition: 0.5s all;
        }

        a:hover { background-color: orange; }
    }
}

#main-page-sections {
    text-align: center;

    h1 { font-size: 3em; }
    #filters-section, #about-project { background-color: #fcfcfc; }

    #filters-section {
        h2 {
            color: white;
            padding: 0.3em;
            margin: 0;
            background-color: orange;
        }

        .filters-input {
            padding: 2em 3em;
            height: 3.5em;
        }

        .form-group {
            vertical-align: top;
            margin: 2%;
            font-size: 1.2em;
            display: inline-block;
            width: 40%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        p { margin: 0; }

        #difficulties {
            font-size: 1.2em;

            .tooltip {
                position: relative;
                display: inline-block;
                cursor: pointer;
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 300px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 100%;
                left: 50%;
                margin-left: -147px;
                font-size: 0.8em;
            }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent black transparent;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
            }
        }

        button {
            background-color: #34495E;
            margin-top: 3em;
            font-size: 1em;
            padding: 1em 3em;
            border: none;
            color: white;
            transition: 0.5s all;
            cursor: pointer;
        }

        button:hover { background-color: #2C3E50; }
    }

    section:nth-child(even) { background-color: #f8f8f8; }

    #uniqueness {
        background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../images/pexels-photo-60230.jpeg");
        background-attachment: fixed;

        #articles article {
            width: 30%;
            margin: 1%;
            display: inline-block;
            vertical-align: top;
            font-size: 1.2em;
            height: 220px;
            background-color: rgba(255,255,255,0.5);
        }

        p {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            text-align: center;
        }

        .fa {
            font-size: 3em;
            margin: 20px;
            color: orange;
        }
    }
}

body div#map-page {
    header {
        overflow: auto;
        height: 10vh;
        padding: 0 2em;

        h1 {
            float: left;
            width: 50%;
            margin: 0;
            line-height: 10vh;
            color: #2F2F2F;
        }

        nav {
            float: right;
            width: 50%;
            text-align: right;

            ul {
                height: 10vh;
                margin: 0;
                line-height: 10vh;
            }

            li { margin: 0 1em; }

            a {
                text-decoration: none;
                color: #2d6987;
            }
        }

        ul li { display: inline; }
    }

    #filters-and-map {
        overflow: auto;
        background-color: black;
    }

    #filters-and-info {
        width: 100vw - 5vw - 80vw;
        float: left;
        padding: 0 2vw;
        height: 90vh;
        background-color: transparent;

        .tooltip {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 250px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: 115%;
            left: 50%;
            margin-left: -54px;
            font-size: 1.1em;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 22%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }

    #map {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hands-way-guide-tourist.jpg');
        width: 80vw;
        height: 90vh;
        float: right;
        padding: 0;
    }
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #191919;
    color: #f8f8f8;
}

@media only screen and (max-width:1200px) {
    .container { padding: 0 5em; }
    #main-page-sections {
        #filters-section {
            .form-group { font-size: 1em; }
        }
    }
}

@media only screen and (max-width:1140px) {
    #main-page-sections {
        #uniqueness {
            #articles article {
                height: 250px;
            }
        }
    }
}

@media only screen and (max-width:1030px) {
    header#starting-page {
        margin-top: 0;

        #text {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            width: 80%;
            margin: 0 auto 0;

            h1 {
                margin-top: 0;
                padding-top: 15vh;
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    #main-page-sections {
        #filters-section {
            .form-group {
                width: 100%;
            }
        }
        #uniqueness {
            #articles article {
                width: 100%;
                height: 200px;
            }
        }
    }
}

@media only screen and (max-width:750px) {
    #main-page-sections {
        #uniqueness {
            #articles article {
                height: 250px;
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .container { padding: 0 2em; }
}