//@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&subset=latin,latin-ext);

body {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

section {
    padding: 2em 0 5em;
}

body section:not(#starting-page) {
    header {
        overflow: auto;
        height: 10vh;
        width: 1140px;
        margin: 0 auto;

        h1 {
            float: left;
            width: 50%;
            margin: 0;
            line-height: 10vh;
            color: #2F2F2F;
        }

        nav {
            float: right;
            width: 50%;
            text-align: right;

            ul {
                height: 10vh;
                margin: 0px;
                line-height: 10vh;
            }

            li {
                margin: 0 1em;
            }

            a {
                text-decoration: none;
                color: #2d6987;
            }
        }

        ul li {
            display: inline;
        }
    }
}

header#starting-page {
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url("../images/pexels-photo.jpg");
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.8);

    nav {
        text-align: right;
        position: absolute;
        top: 1em;
        right: 0;
        z-index: 10;

        ul li {
            display: inline;
            margin-right: 2em;

            a {
                text-decoration: none;
                color: white;
                font-size: 0.8em;
                border: 1px solid white;
                border-radius: 100px;
                padding: 0.5em 2em;
                opacity: 0.7;
                transition: 0.2s all;
            }

            a:hover {
                opacity: 1;
            }
        }
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 5em;
        }

        p {
            line-height: 35px;
            font-size: 1.7em;
        }

        a {
            text-shadow: none;
            display: inline-block;
            color: white;
            text-decoration: none;
            margin-top: 2.5em;
            font-size: 1.5em;
            padding: 0.3em 1.8em;
            background-color: #F1C40F;
            transition: 0.5s all;
        }

        a:hover {
            background-color: orange;
        }
    }
}

#main-page-sections {
    text-align: center;

    h1 {
        font-size: 3em;
    }

    #filters {
        .form-group {
            padding: 0.5em;
            font-size: 1.2em;
        }
    }

    section:nth-child(even) { background-color: #f8f8f8; }

    #uniqueness {
        #bubbles article {
            width: 33%;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            font-size: 1.2em;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            text-align: center;
        }

        .fa {
            font-size: 3em;
            margin: 20px;
            color: orange;
        }
    }
}

#map-page {
    #map {
        height: 90vh;
    }
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #191919;
    color: #f8f8f8;
}

@media only screen and (max-width:1500px) {

    #starting-page {
        #text {
            width: 60%;

            h1 {
                font-size: 4em;
            }

            p {
                font-size: 1em;
            }

            a {
                font-size: 1.2em;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #starting-page {
        #text {
            width: 70%;

            p {
                font-size: 0.8em;
            }

            a {
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width:750px) {
    #starting-page nav {
        text-align: center;
        left: 0;
    }
}

@media only screen and (max-width:650px) {

}