{% extends "::base.html.twig" %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}

    <section id="about-page">
        <header>
            <h1>Keep Running</h1>
            <nav>
                <ul>
                    <li><a href="/">Pagrindinis</a></li>
                    <li><a href="/about">Apie projektą</a></li>
                </ul>
            </nav>
        </header>

        <section id="content">
            <div id="heading">
                <h2>Apie projektą</h2>
            </div>
            <section id="text">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque beatae distinctio dolor eaque earum eos esse eum in inventore, iusto minus non porro saepe sequi totam vitae voluptatem. Cum dignissimos distinctio dolorem, doloribus, eaque fugit harum minima officia omnis, perspiciatis provident quam tempore voluptas! Ducimus harum laborum nostrum rerum!
                </p>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate facere, facilis illo ipsam nihil non odio officiis optio quaerat quas quibusdam quis quos saepe tenetur velit vitae voluptates voluptatibus.
                </p>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam, assumenda beatae consequuntur cum dignissimos dolor enim error esse id ipsam itaque laboriosam maiores minus necessitatibus provident quasi qui saepe, sit tempora tenetur ullam veniam voluptatem voluptatum. Amet autem distinctio ducimus eveniet iusto optio repellat rerum voluptate. Alias at corporis ipsam modi pariatur repudiandae, voluptatem! Hic numquam totam voluptates.
                </p>
            </section>
        </section>

    </section>

{% endblock %}