{% extends "::base.html.twig" %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}

    <section id="about-page">
        <header>
            <h1>Keep Running</h1>
            <nav>
                <ul>
                    <li><a href="/">Pagrindinis</a></li>
                    <li><a href="/about">Apie projektą</a></li>
                </ul>
            </nav>
        </header>

        <section id="content">
            <h1>Apie projektą</h1>
            <p>
                Keep Running skirtas žmonėms, kuriems nusibodo įprasta bėgimo trasa ir nori kažko naujo. Su šiuo įrankiu galėsite patogiai susigeneruoti visiškai atsitiktinę bėgimo trąsą.
            </p>
            <p>
                Projektas darytas NFQ akademijos, 2016 metų pavasario semestro metu.
            </p>
        </section>

    </section>

{% endblock %}