{% extends "::base.html.twig" %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}

    <section id="map-page">
        <header>
            <h1>Keep Running</h1>
            <nav>
                <ul>
                    <li><a href="#">Pagrindinis</a></li>
                    <li><a href="#">Apie projektą</a></li>
                </ul>
            </nav>
        </header>

        <section id="map"></section>

        <section id="map-more-actions">
            <nav>
                <ul>
                    <li><a href="#">Pakeisti filtrą</a></li>
                    <li><a href="#">Įvertinti</a></li>
                    <li><a href="#">Pasidalinti</a></li>
                </ul>
            </nav>
        </section>
    </section>

{% endblock %}