{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block body %}

    <section id="starting-page">

        {# not needed for now #}
        {#<nav>#}
            {#<ul>#}
                {#<li><a href="#">Nav 1</a></li>#}
                {#<li><a href="#">Nav 2</a></li>#}
                {#<li><a href="#">Nav 3</a></li>#}
                {#<li><a href="#">Nav 4</a></li>#}
            {#</ul>#}
        {#</nav>#}

        <div id="text">
            <h1>Keep Running</h1>
            <p>
                Keep Running skirtas žmonėms, kuriems nusibodo įprasta bėgimo trasa ir nori kažko naujo. Su šiuo įrankiu galėsite patogiai susigeneruoti visiškai atsitiktinę bėgimo trasą.
            </p>
            <a href="#home-page-filters">Pradėti</a>
        </div>
    </section>

    <section id="home-page-filters">
        <div class="container">
            <h1>Filtrai</h1>
            <form action="">
                Trasos ilgis <input type="range" name="distance" min="1" max="20"> <span>10 km</span> <br>
                Sunkumas
                <input type="checkbox" name="easy-difficulty" value="easy"> Lengvas
                <input type="checkbox" name="normal-difficulty" value="normal"> Normalus
                <input type="checkbox" name="hard-difficulty" value="hard"> Sunkus
                <button>Generuoti trasą</button>
            </form>
        </div>
    </section>

    <section id="about-project">
        <div class="container">
            <h1>Apie projektą</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut iste itaque minus modi mollitia quo reiciendis! Architecto delectus est hic ipsa iusto totam ullam vitae? Ad adipisci at distinctio laudantium nulla optio quo sequi sit tenetur vel. Aliquam architecto commodi cumque ducimus, possimus quod veritatis. Cumque debitis ipsam voluptas!
            </p>
        </div>
    </section>

{% endblock %}