{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}


{% block body %}

    <header id="starting-page">

        {# not needed for now #}
        {#<nav>#}
            {#<ul>#}
                {#<li><a href="#">Nav 1</a></li>#}
                {#<li><a href="#">Nav 2</a></li>#}
                {#<li><a href="#">Nav 3</a></li>#}
                {#<li><a href="#">Nav 4</a></li>#}
            {#</ul>#}
        {#</nav>#}

        <div id="text">
            <h1>Keep Running</h1>
            <p>
                Keep Running skirtas žmonėms, kuriems nusibodo įprasta bėgimo trasa ir nori kažko naujo. Su šiuo įrankiu galėsite patogiai susigeneruoti visiškai atsitiktinę bėgimo trasą.
            </p>
            <a href="#filters">Pradėti</a>
        </div>
    </header>

    <div id="main-page-sections">
        <section id="filters">
            <div class="container">
                <h1>Filtrai</h1>
                <form action="{{ path('map.index') }}">
                    <div class="form-group">
                        Trasos ilgis:
                        <span><input id="distance" type="text" readonly=""> km</span>
                        <input id="distance_from" type="hidden"  name="distance_from">
                        <input id="distance_to" type="hidden"  name="distance_to">
                        <div id="slider-range-min2" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span>
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        Sunkumas:
                        {% for level in tracks_levels %}
                            <input type="radio" name="difficulty" value="{{ level.levelId }}"> {{ level.levelName }}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button>Generuoti trasą</button>
                    </div>
                </form>
            </div>
        </section>

        <section id="about-project" style="display: none;">
            <div class="container">
                <h1>Apie projektą</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut iste itaque minus modi mollitia quo reiciendis! Architecto delectus est hic ipsa iusto totam ullam vitae? Ad adipisci at distinctio laudantium nulla optio quo sequi sit tenetur vel. Aliquam architecto commodi cumque ducimus, possimus quod veritatis. Cumque debitis ipsam voluptas!
                </p>
            </div>
        </section>
    </div>

    <footer>
        <div class="container">
            <p>
                NFQ Akademija 2016, Kaunas.
            </p>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#slider-range-min2").slider({
                range: true,
                values: [3, 18],
                min: 2,
                max: 22,
                slide: function( event, ui ) {
                    $( "#distance" ).val( ui.values[0] + " - " + ui.values[1] );
                    $( "#distance_from" ).val(ui.values[0]);
                    $( "#distance_to" ).val(ui.values[1]);
                }
            });
            $( "#distance" ).val( $( "#slider-range-min2" ).slider( "values", 0 ) +
                    " - " + $( "#slider-range-min2" ).slider( "values", 1 ) );
        });
    </script>
{% endblock %}