{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block body %}

    <section id="starting-page">

        {# not needed for now #}
        {#<nav>#}
            {#<ul>#}
                {#<li><a href="#">Nav 1</a></li>#}
                {#<li><a href="#">Nav 2</a></li>#}
                {#<li><a href="#">Nav 3</a></li>#}
                {#<li><a href="#">Nav 4</a></li>#}
            {#</ul>#}
        {#</nav>#}

        <div id="text">
            <h1>Keep Running</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minus eos autem iste alias beatae tenetur perspiciatis consequatur nostrum in dolor hic, pariatur maxime iure aspernatur saepe placeat debitis reprehenderit. Exercitationem cupiditate impedit doloribus, dolores quos alias accusantium quae minus, dicta laborum, itaque provident tenetur non delectus consequatur voluptate aliquid.
            </p>
            <a href="/map">Nustatyti buvimo vietą</a>
        </div>
    </section>

{% endblock %}