{% extends "::base.html.twig" %}

{% block title %}Home page - {{ parent() }}{% endblock %}

{% block body %}

    <section id="starting-page">

        {# not needed for now #}
        {#<nav>#}
            {#<ul>#}
                {#<li><a href="#">Nav 1</a></li>#}
                {#<li><a href="#">Nav 2</a></li>#}
                {#<li><a href="#">Nav 3</a></li>#}
                {#<li><a href="#">Nav 4</a></li>#}
            {#</ul>#}
        {#</nav>#}

        <div id="text">
            <h1>Keep Running</h1>
            <p>
                Keep Running skirtas žmonėms, kuriems nusibodo įprasta bėgimo trasa ir nori kažko naujo. Su šiuo įrankiu galėsite patogiai susigeneruoti visiškai atsitiktinę bėgimo trąsą.
            </p>
            <a href="/map">Nustatyti buvimo vietą</a>
        </div>
    </section>

{% endblock %}