{% extends "::base.html.twig" %}

{% block title %}Map - {{ parent() }}{% endblock %}

{% block body %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <section id="map-page">
        <header>
            <h1>Keep Running</h1>
            <nav>
                <ul>
                    <li><a href="/">Pagrindinis</a></li>
                    <li><a href="/about">Apie projektą</a></li>
                </ul>
            </nav>
        </header>
{# added to test tracks#}
        <section id="map" data-points="{{ tracks }}"></section>

        {#<section id="map-more-actions">#}
            {#<nav>#}
                {#<ul>#}
                    {#<li><a href="#">Pakeisti filtrą</a></li>#}
                    {#<li><a href="#">Įvertinti</a></li>#}
                    {#<li><a href="#">Pasidalinti</a></li>#}
                {#</ul>#}
            {#</nav>#}
        {#</section>#}
    </section>
    {#end body#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript">
        window.onload = showRoute;
    </script>
{% endblock %}